
.critical {
  font-stretch: expanded;
  font-weight: bolder;
  background: yellow
}

.important {
  font-weight: bold;
}

.soft {
  font-variant: small-caps;
  font-kerning: none;
  color: grey
}

.sidebar{
  width: auto;
  float: right;
  border: 2px solid red;
  padding: 2px;
}

h1 {
  font-family: sans-serif;
}

p.quote {
  box-sizing: inherit;
  font-style: italic;
}

img.left {
  float: left;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
